<h2>
 <%= flash[:notice] %>
</h2>

<h1>Chitter</h1>
<% if @user %>
  <h2>Welcome, <%= @user.username %></h2>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign out" />
  </form>
<% end %>
<ul>
  <% @peeps.each do |peep| %>
    <li>
      <%= peep.content %>
    </li>
  <% end %>
</ul>
