<form action="/users" method="post">
  <label for="name">
      Name:
  <input type="name" name="name" value="Name"/>
  <label for="email">
      Email:
  <input type="email" name="email" value="Enter username" />
  <label for="name">
      Username:
  <input type="username" name="username" value="Username"/>
  <label for="password">
      Password:
  <input type="password" name="password"/>
  <input type="submit" value="Submit" />
</form>
